<div class="form-container-wrapper">
  <div class="form-container">
      <div id="section_manageQuestions" class="section">
          
          <h2 class="section-heading"> {{testName}} </h2>
          <button class="button save-button addQuestionButton" (click)="addEditQuestion()">Add New Question</button>
          <app-modify-question *ngIf="addQuestion" [action]="action" (closeModifyQuestionModal)="oncloseModal($event)"></app-modify-question>
          <div *ngFor="let question of loadQuestions(); let i=index" class="section accordion-wrapper">
              <button class="accordion" id="questionButton">{{question.questionDescription}}</button>
              <div class="accordion-container">
                  <p class="answer" *ngFor="let answer of question.answers; let j=index">{{j+1}}. {{answer}}</p>
                  <div class="button-group-right">
                      <button class="button save-button" (click)="addEditQuestion(question)">Edit</button>
                      <app-modify-question *ngIf="modifyQuestion" [action]="action" (closeModifyQuestionModal)="oncloseModal($event)"></app-modify-question>
                      <button class="button save-button" onclick="openModal(this)">Delete hero</button>
                      <div id="deleteModal"></div>
                  </div>
              </div>
          </div>

      </div>
  </div>

</div>    